---
interface Props {
  clase: string;
  titulo: string;
  color: string;
  logo: string;
  imagen: string;
  descripcion: string;
  tecnologias: string[];
  url: string;
}
const { titulo, descripcion, imagen, tecnologias, logo, color, url, clase } =
  Astro.props;
---

<article
  class={"art-proy " + clase}
  style={`box-shadow: 4px 4px ${color}; border: 1px solid ${color};`}
>
  <div class="left-p-side">
    <div class="div-logo">
      <img
        loading="lazy"
        class="img-logo"
        src={logo}
        alt="imagen del proyecto"
      />
    </div>
    <div
      class="div-icons"
      style={`box-shadow: 4px 4px ${color}; border: 1px solid ${color};`}
    >
      {
        tecnologias.map((tec) => (
          <img loading="lazy" class="icon" src={`/${tec}.svg`} alt={tec} />
        ))
      }
    </div>
  </div>
  <div class="right-p-side">
    <h3
      class="h3-titulo"
      style={`box-shadow: 4px 4px ${color}; border: 1px solid ${color}; color: ${color}`}
    >
      {titulo}
    </h3>
    <p class="p-desc">{descripcion}</p>

    <a
      class="a-div-img"
      href={`https://${url}`}
      target="_blank"
      rel="noreferrer"
    >
      <div
        class="div-img"
        style={`box-shadow: 4px 4px ${color}; border: 1px solid ${color}; background-color:${color}`}
      >
        <img
          loading="lazy"
          class="img-imagen"
          src={imagen}
          alt="imagen del proyecto"
        />
      </div>
    </a>
  </div>
</article>

<style>
  .art-proy {
    margin: 16px 48px 16px 0px;
    background-color: #f5f5f5;
    border-radius: 16px;
    width: 75dvw;
    height: fit-content;
    display: flex;
    overflow: hidden;
    padding-bottom: 20px;
  }
  .right-p-side {
    flex: 0.6;
  }
  .left-p-side {
    flex: 0.4;
    display: flex;
    flex-direction: column;
  }
  .left-p-side > * {
    margin: 10px auto;
  }
  .img-imagen {
    width: 100%;
  }
  .div-img {
    width: 41.8dvw;
    overflow: hidden;
    border-radius: 10px;
    height: fit-content;
  }
  .div-img:hover {
    animation: shake 1s infinite alternate;
  }
  .icon {
    width: 3dvw;
    margin: 12px auto;
    fill: #040404;
  }
  .div-logo {
    width: 13dvw;
    height: 31dvh;
  }
  .img-logo {
    width: 100%;
    height: inherit;
    border-radius: 67px;
    box-shadow: 0px 0px 20px #666;
  }
  .p-desc {
    width: 41.8dvw;
    height: 10dvh;
    color: #040404;
    white-space: break-spaces;
    margin-bottom: 2px;
    font-size: 1.5dvw;
    color: #040404;
    height: fit-content;
  }
  .a-div-img {
    width: 80%;
    display: inline-block;
  }
  .div-icons {
    background-color: #fff;
    width: 20dvw;
    height: 36dvh;
    box-shadow: 4px 4px #ffaf4e;
    border: 1px solid #ffaf4e;
    border-radius: 10px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, auto);
    gap: 10px;
  }
  .h3-titulo {
    font-family: "Chakra Petch", sans-serif;
    box-shadow: 4px 4px #ffaf4e;
    border: 1px solid #ffaf4e;
    color: #ffaf4e;
    background-color: #fff;
    width: 42dvw;
    height: 10dvh;
    border-radius: 10px;
    font-size: 3dvw;
    margin-bottom: 8px;
    text-align: center;
  }
  @keyframes shake {
    0% {
      transform: translate(0px);
    }

    100% {
      transform: translate(0px, 10px);
    }
  }
  @media (max-width: 811px) {
    .art-proy {
      margin: 16px auto;
    }
    .text-titulo {
      font-size: 1.5rem;
      width: 50%;
    }
    .div-logo {
      width: fit-content;
      height: fit-content;
      margin: 8px !important;
    }
    .img-logo {
      width: 100%;
      height: fit-content;
    }
    .h3-titulo {
      width: fit-content;
      height: fit-content;
      padding: 16px 20px;
      margin: 16px 0;
    }
    .p-desc {
      font-size: 0.8rem;
    }
    .div-icons {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(3, auto);
      gap: 10px;
      height: fit-content;
    }
    .icon {
      width: 7dvw;
    }
    .div-img {
      width: 100%;
      height: fit-content;
    }
  }
</style>
