---
interface Props {
  titulo: string;
  color: string;
  logo: string;
  imagen: string;
  descripcion: string;
  tecnologias: string[];
  url: string;
}
const { titulo, descripcion, imagen, tecnologias, logo } = Astro.props;
---

<article class="art-proy">
  <div class="left-p-side">
    <img class="img-logo" src={logo} alt="imagen del proyecto" />
    <div class="div-icons">{tecnologias}</div>
  </div>
  <div class="right-p-side">
    <h3 class="h3-titulo">{titulo}</h3>
    <p class="p-desc">{descripcion}</p>
    <div class="div-img">
      <img class="img-imagen" src={imagen} alt="imagen del proyecto" />
    </div>
  </div>
</article>

<style>
  svg {
    fill: #040404;
  }
  .art-proy {
    margin: 16px 48px 16px 0px;
    background-color: #f5f5f5;
    box-shadow: 4px 4px #21243d;
    border-radius: 16px;
    width: 75dvw;
    height: 80dvh;
    display: flex;
    overflow: hidden;
  }
  .right-p-side {
    flex: 0.6;
  }
  .left-p-side {
    flex: 0.4;
    display: flex;
    flex-direction: column;
  }
  .left-p-side > * {
    display: block;
    margin: 0px auto;
  }
  .img-imagen {
    width: 42dvw;
  }
  .div-img {
    background-color: #040404;
    height: 42dvh;
    width: 41.8dvw;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 4px 4px #ffaf4e;
    border: 1px solid #eb8526;
  }
  .p-desc {
    width: 41.8dvw;
    height: 10dvh;
    color: #040404;
    white-space: break-spaces;
    margin-bottom: 2px;
  }
  .div-icons {
    background-color: #fff;
    width: 20dvw;
    height: 36dvh;
    box-shadow: 4px 4px #ffaf4e;
    border: 1px solid #eb8526;
    border-radius: 10px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, auto);
    gap: 10px;
  }
  .h3-titulo {
    font-family: "Chakra Petch", sans-serif;
    box-shadow: 4px 4px #ffaf4e;
    border: 1px solid #eb8526;
    color: #ffaf4e;
    background-color: #fff;
    width: 42dvw;
    height: 10dvh;
    border-radius: 10px;
    font-size: 3dvw;
    margin-bottom: 8px;
    text-align: center;
  }
</style>
