---
const backend = [
  "node",
  "express",
  "multer",
  "sequelize",
  "postgres",
  "dbeaver",
];
const otros = ["git", "python", "bash"];
const frontend = [
  "html",
  "css",
  "js",
  "ts",
  "react",
  "axios",
  "photoshop",
  "redux",
  "astro",
  "tailwind",
  "figma",
];
---

<section class="sec-sm" id="sobremi">
  <article class="sm-detalles">
    <div class="right-pad">
      <h2 class="text-titulo">S o b r e &nbsp; m í</h2>
      <div class="div-sm sm-a">
        <p class="p-st">
          Hola! <span class="span-bold">Soy Pablo Olivera </span> ,<span
            class="span-bold"
          >
            Desarrollador Web Full Stack</span
          >
          con experiencia en la gestión y desarrollo de D. UNA Delivery App.
          <br /> Me he especializado en <span class="span-bold">JavaScript</span
          >, utilizando sus librerías y frameworks para crear herramientas y
          soluciones efectivas.
          <br />
          Durante mi tiempo en D. UNA, perfeccioné mis <span class="span-bold"
            >habilidades de programación
          </span> y fortalecí mis <span class="span-bold"
            >habilidades blandas
          </span> al colaborar con asociados y clientes. <br />
          Ahora como freelancer, continúo mejorando mis habilidades técnicas y blandas
          para proporcionar <span class="span-bold">soluciones sólidas</span>,
          comprometido con la excelencia y claridad en cada proyecto.
        </p>
      </div>
    </div>
    <div class="left-pad">
      <a class="a-contratame" href="#welcome" id="contratame">¡ Contrátame !</a>
      <div class="div-sm sm-b">
        <p class="p-st">
          De: Arauca, Colombia. <br /> En: Barranquilla. <br /> Modelo: 2002, Oct.
        </p>
      </div>
      <div class="div-sm sm-c">
        <p class="p-st">También disfruto:</p>
        <ul class="ul-sm">
          <li>Tocar guitarra</li>
          <li>Salir con mis perros</li>
          <li>Hacer ejercicio</li>
          <li>La filmografía</li>
          <li>Conversaciones de calidad</li>
        </ul>
      </div>
    </div>
  </article>
  <article class="sm-habilidades">
    <div class="lef-pad">
      <h4 class="hab-title">Habilidades</h4>
      <div class="mini-div-sm">
        <label class="lab-sm">Ingles</label>
        <progress class="prgss-sm" max="100" value="75"></progress>
        <label class="lab-sm"> Concentración</label>
        <progress class="prgss-sm" max="100" value="95"></progress>
        <label class="lab-sm"> Adaptabilidad</label>
        <progress class="prgss-sm" max="100" value="90"></progress>
        <label class="lab-sm"> Trabajo en equipo</label>
        <progress class="prgss-sm" max="100" value="70"></progress>
        <label class="lab-sm"> Comunicación</label>
        <progress class="prgss-sm" max="100" value="80"></progress>
      </div>
    </div>
    <div class="mid-pad">
      <div class="g-frontend">
        <h4 class="hab-title">Frontend</h4>
        <div class="mini-div-sm icon-content">
          {
            frontend.map((tec) => (
              <img class="icon" src={`${tec}.svg`} alt={tec} />
            ))
          }
        </div>
      </div>
    </div>
    <div class="rig-pad">
      <div class="g-backend">
        <h4 class="hab-title">Backend</h4>
        <div class="mini-div-sm icon-content">
          {
            backend.map((tec) => (
              <img class="icon" src={`/${tec}.svg`} alt={tec} />
            ))
          }
        </div>
      </div>
      <div class="g-otros">
        <h4 class="hab-title">Otros</h4>
        <ul class="mini-div-sm icon-content">
          {
            otros.map((tec) => (
              <img class="icon" src={`${tec}.svg`} alt={tec} />
            ))
          }
        </ul>
      </div>
    </div>
    <p class="original">
      Diseño original de <a
        href="https://www.github.com/pabl0l"
        target="_blank"
        style="color:inherit; font-weight:bold;">Pabl0l</a
      > *
    </p>
  </article>
</section>

<style>
  .sec-sm {
    min-height: 44.4dvw;
    position: relative;
  }
  .span-bold {
    color: #e82;
    font-weight: bold;
  }
  .sm-detalles {
    display: flex;
  }
  .text-titulo {
    width: 20dvw;
    border-radius: 0px 15px 15px 0px;
    background-color: #f5f5f5;
    border: 1px solid #eb8526;
    box-shadow: 4px 4px 0px #eb8526;
    color: #eb8526;
    height: fit-content;
    padding: 2dvh 6dvw;
    font-family: "Chakra Petch", sans-serif;
    font-size: 2.3dvw;
  }
  .div-sm {
    border-radius: 15px;
    background-color: #f5f5f5;
    border: 1px solid #eb8526;
    box-shadow: 4px 4px 0px #eb8526;
    color: #eb8526;
    height: fit-content;
    padding: 10px 50px;
    margin: 10px 6dvw;
  }
  .mini-div-sm {
    border-radius: 15px;
    background-color: #f5f5f5;
    border: 1px solid #eb8526;
    box-shadow: 4px 4px 0px #eb8526;
    color: #eb8526;
    height: fit-content;
    padding: 10px 50px;
    margin: 10px 1dvw;
  }
  .right-pad {
    display: flex;
    flex-direction: column;
    flex: 0.7;
  }
  .left-pad {
    display: flex;
    flex-direction: column;
    flex: 0.3;
  }
  .p-st {
    font-size: 1.4dvw;
    color: #040404;
    margin: 0;
    text-align: left;
  }
  .sm-a {
    height: 28dvw;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .sm-b {
    width: 18dvw;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 4px 4px 0px #21243d;
    border: 1px solid #21243d;
  }
  .sm-c {
    width: 18dvw;
  }
  .a-contratame {
    border: 2px solid #223;
    box-shadow: 4px 4px #223;
    text-decoration: none;
    background-color: #f5f5f5;
    font-size: 1.7dvw;
    padding: 0.5dvw 4dvw;
    border-radius: 5px;
    color: #21243d;
    margin: 10px 18dvw 0px 6dvw;
    font-weight: 500;
    margin: auto;
    animation-timing-function: ease;
    animation: move 2s ease-in-out infinite alternate;
    animation-delay: 0s;
  }
  .hab-title {
    text-decoration: none;
    background-color: #f5f5f5;
    width: fit-content;
    font-size: 1.7dvw;
    padding: 0.5dvw 4dvw;
    border-radius: 5px;
    color: #eb8526;
    margin: 10px 18dvw 0px 6dvw;
    font-weight: 500;
    margin: auto;
    box-shadow: 4px 4px #eb8526;
  }
  .icon {
    width: 5dvw;
    margin: 12px auto;
  }
  .sm-habilidades {
    display: flex;
    padding: 80px 0px 40px;
    justify-content: center;
    background: linear-gradient(#21243d 75%, #eb8526);
  }
  .sm-habilidades > * {
    flex: 0.3;
  }
  .icon-content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
  }
  .prgss-sm {
    width: 100%;
    margin: auto;
    color: #eb8526;
    border-radius: 10px;
    border: none;
  }
  .prgss-sm::-webkit-progress-value {
    background-color: #eb8526;
    border-radius: 10px;
  }
  .prgss-sm::-moz-progress-bar {
    border-radius: 10px;
    background-color: #eb8526;
  }
  .prgss-sm ::-ms-fill {
    border-radius: 10px;
    background-color: #eb8526;
  }
  .lab-sm {
    display: block;
    color: #21243d;
    font-weight: 400;
    font-size: 1.4dvw;
    margin: 12px 0px;
  }
  .original {
    position: absolute;
    bottom: 0%;
    right: 6%;
  }
  .ul-sm {
    color: #040404;
    margin-top: 0;
  }

  @keyframes move {
    0% {
      transform: translate(0px, 0px);
    }

    100% {
      transform: translate(0px, 50px);
    }
  }
</style>
